body{
    margin: 0;
    padding: 0;
}
.container-fluid{
    height: 100vh;
    width: 100%;
   background-image: linear-gradient(90deg, pink, white, pink );
    justify-content: center;
    align-items: center;
    
}
.loginform{
    width: 40%;
    height: 80%;
    background-image: url("assets/bloodshape.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    gap: 10px;
}
.bg-transparent-blur{
    backdrop-filter: blur(20px);
    box-shadow: white 0px 0px 20px;
}
 .text-link {
      text-align: center;
      margin-top: 1rem;
      display: block;
      color: wheat;
    }

    .text-link a {
        color: white;
      text-decoration: underline;
    }

    .text-link a:hover {
      color: black;
    }